<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login"> ir al Login</a>
    </li>
    <li>
        <a routerLink="/auth/registro"> ir al registro</a>
    </li>
    <li>
        <a routerLink="/heroes/listado"> ir al listado</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar"> ir al agregar</a>
    </li>
    <li>
        <a routerLink="/heroes/editar/:id"> ir al editar</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar"> ir al buscar</a>
    </li>
    <li>
        <a routerLink="/heroes/:id"> ir al id</a>
    </li>
</ul>



